@charset "utf-8";
body{ 
	min-width: 1200px;
}
.banner{
	position: relative;
	width: 100%;
}
.banner img{
	width: 100%;
}
/* 我们的使命 */
.about-summit .tit{
	margin-bottom: 80px;
}
.about-summit .tit > div , .contact-us .tit{
	position: relative;
	text-align: center;
	margin: 39px auto 0;
}
.about-summit .tit h5 , .contact-us .tit h5{
	display: inline-block;
	font-size: 64px;
	color: #000;
	padding: 15px;
	background: #fff;
	position: relative;
	z-index: 1;
}
.about-summit .tit span , .contact-us .tit span{
	display: block;
	height: 1px;
	background: #d8d8d8;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -0.5px;
	z-index: 0;
}
.about-summit .tit p{
	text-align: center;
	font-size: 24px;
	color: #333;
}
.myaccount-inner {
	max-width: 1280px;
	margin: 0 auto;
}
.myaccount-lf{
	float: left;
	width: 268px;
	margin-right: -268px;
	display: inline-block;
	position: relative;
}
.myaccount-lf h5{
	font-size: 24px;
	color: #333333;
	padding-bottom: 6px;
	border-bottom: 1px solid #333;
	margin-bottom: 16px;
	font-family:  "Arial","PingFangSC-Regular", "微软雅黑", "Microsoft YaHei", "sans-serif";
}
.myaccount-lf ul li.current a{
	color: #A11E25;
	cursor: pointer;
}
.myaccount-lf ul li a{
	display: block;
	padding: 17px 0;
	font-size: 24px;
	color: #151515;
	line-height: 36px;
	position: relative;
}
.myaccount-lf ul li a img{
	display: none;
	position: absolute;
	left: -14px;
	top: 27px;
}
.myaccount-rt{
	float: left;
	display: inline-block;
	width: 100%;	
}
.myaccount-rt>div{
	margin-left: 420px;
}
.myaccount-rt .headline{
	position: relative;
	padding-left: 200px;
	margin-top: -10px;
	padding-bottom: 50px;
}
.myaccount-rt .headline p{
	position: absolute;
	left: 0;
	top: 0;
	font-size: 40px;
	color: #000000;
	display: inline-block;
	vertical-align: middle;
}
.myaccount-rt .headline span{
	display: block;
	margin-left: 20px;
	font-size: 24px;
	color: #333333;
	position: relative;
	top: 5px;
	font-family:  "Arial","PingFangSC-Regular", "微软雅黑", "Microsoft YaHei", "sans-serif";
} 
.myaccount-rt .myaccount-down p{
	font-size: 24px;
	color: #333333;
	margin-bottom: 45px;
	text-align: justify;
	line-height: 34px;
}
/* 联系我们 */
.contact-us{
	padding-bottom: 213px;
}
.contact-con{
	width: 70%;
	margin: 0 auto;
	font-family:  "Arial","PingFangSC-Regular", "微软雅黑", "Microsoft YaHei", "sans-serif";
}
.contact-us .tit{
	margin-top: 100px;
	margin-bottom: 108px;
}
.contact-con>div{
	display: inline-block;
	width: 49%;
	font-size: 0;
	text-align: left;
	vertical-align: top;
}
.contact-con .fir{
	padding-right: 90px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.contact-con .sec{
	padding-left: 90px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.contact-con h5{
	margin-bottom: 20px;
}
.contact-con p , .contact-con h5{
	font-size: 24px;
	color: #000;
}
.contact-con p span{
	display: inline-block;
}
.contact-con p{
	position: relative;
	margin-bottom: 10px;
}
.contact-con p .fir{
	width: 76px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
}
.contact-con p .sec{
	padding: 0;
}
.contact-con p{
	padding-left: 76px;
}

/* 我们的特点 */

.trait-down>div{
	width: 32%;
	vertical-align: top;
	display: inline-block;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.trait-down>div h5{
	text-align: center;
	font-size: 51px;
}
.trait-down>div>p img{
	display: block;
	margin: 0 auto;
}
.trait-down>div.fir{
	padding-right: 50px;
}
.trait-down>div.sec{
	padding-left: 25px;
	padding-right: 25px;
}
.trait-down>div.thir{
	padding-left: 50px;
}
.myaccount-rt .trait-down>div p{
	font-size: 12px;
	line-height: 20px;
}
/* 领导团队 */
.team-down{
	width: 100%;
}
.team-down > h6{
	margin-bottom: 28px;
	width: 268px;
	font-size: 24px;
	color: #333333;
	padding: 7px 0;
	border-bottom: 1px solid #333;
	font-family:  "Arial","PingFangSC-Regular", "微软雅黑", "Microsoft YaHei", "sans-serif";
}
.team-member{
	margin-bottom: 50px;
}
.team-member .team-cont-l , .team-member .team-cont-r{
	position: relative;
    display: inline-block;
    vertical-align: top;
}
.team-member .team-cont-l{
	float: left;
    width: 400px;
    margin-right: -400px;
    display: inline-block;
    position: relative;
}
.team-member .team-cont-l img{
	width: 100%;
	display: block;
}
.team-member .team-cont-r{
	float: left;
    display: inline-block;
    width: 100%;  
}
.team-cont-r>div {
	margin-left: 457px;
}
.myaccount-rt .team-cont-r .team-cont-wapper>div .name , .team-cont-r>div .name-ch{
	font-size: 24px;
	color: #333333;
	line-height: 30px;
	margin-bottom: 15px;
}
.myaccount-rt .team-cont-r .team-cont-wapper>div p{
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	margin-bottom: 22px;
} 
.myaccount-rt .team-cont-r .info-show{
	height: 40px;
	text-align: right;
	margin-bottom: 0;
	border-bottom: 1px solid #333;
    cursor: pointer;
    padding-right: 6px;
}
.team-cont-r .info-show i{
	display: inline-block;
    width: 13px;
    height: 8px;
}
.team-cont-r .team-cont-wapper .txt{
	padding-bottom: 30px;
}
.team-cont-r .info-show.is-active .icon-down{
	background: url(../images/about-us/arrow-down.png) no-repeat 0px 0px;
}
.team-cont-r .info-show .icon-up{
	background: url(../images/about-us/arrow-up.png) no-repeat 0px 0px;
}
.mgt100{
	margin-top: 100px;
}
.team-pic>div{
	width: 50%;
	float: left;
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.team-pic>div a{
	display: block;
	margin-bottom: 32px;
}
.team-pic>div a img{
	width: 100%;
}
.team-pic .fir{
	padding-right: 45px;
}
.team-pic .sec{
	padding-left: 45px;
}
.team-pic>div div{
	border-bottom: 1px solid #8E8E8E;
	margin-bottom: 67px;
	padding-bottom: 20px;
}
.team-pic>div div h5{
	text-align: center;
	font-size: 34px;
	color: #333333;
}
.myaccount-rt .team-pic>div div p{
	text-align: center;
	font-size: 34px;
	color: #333333;
	margin-top: 10px;
	margin-bottom: 0;
	
}
.none{
	display: none;
}
@media screen and (max-width:1440px){
	.myaccount-inner{
		max-width: 1224px;
	}
}
