<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaotrue.mapper.NewsMapper">
  	<insert id="save" parameterType="News" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO t_ma_news (
			title,
			content,
			small_img_uri,
			big_img_uri,
			author,
			create_time,
			type,
			STATUS
		)
		VALUES
			(
				#{title},
				#{content},
				#{smallImgUri},
				#{bigImgUri},
				#{author},
				NOW(),
				#{type},
				#{status}
			);
  	</insert>
  	
  	<delete id="delete">
  		DELETE
		FROM
			t_ma_news
		WHERE
			id = #{id}
  	</delete>
  	
  	<update id="update" parameterType="News">
 		update
 			t_ma_news
 		set
  			title = #{title},
  			content = #{content},
  			small_img_uri = #{smallImgUri},
  			big_img_uri = #{bigImgUri},
  			author = #{author},
  			type = #{type},
  			status = #{status}
  		where id =#{id}
  	</update>
  	
  	<select id="getByPrimaryKey" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			id = #{id}
  	</select>
  	
  	<select id="findNewsByTypeAndCount" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			type = #{type}
		AND STATUS != 3
		LIMIT #{count}
  	</select>
  	
  	<select id="findByPageAndType" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			type = #{type}
		AND STATUS != 3
		LIMIT #{start},#{pageSize}
  	</select>
</mapper>