<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaotrue.mapper.NewsMapper">
  	<insert id="save" parameterType="News" useGeneratedKeys="true" keyProperty="id">
  		INSERT INTO t_ma_news (
			create_time,
			type,
			STATUS
		)
		VALUES
			(
				NOW(),
				#{type},
				#{status}
			);
  	</insert>
  	
  	<delete id="delete">
  		DELETE
		FROM
			t_ma_news
		WHERE
			id = #{id}
  	</delete>
  	
  	<update id="update" parameterType="News">
 		update
 			t_ma_news
 		set
  			type = #{type},
  			status = #{status}
  		where id =#{id}
  	</update>
  	
  	<select id="getByPrimaryKey" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			id = #{id}
  	</select>
  	
  	<select id="findNewsByTypeAndCount" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			type = #{type}
		AND STATUS != 3
		LIMIT #{count}
  	</select>
  	
  	<select id="findByTypeAndLang" resultType="NewsViewCommand">
  		SELECT
			news.id,
			news.create_time,
			lang.title,
			lang.content,
			lang.author
		FROM
			t_ma_news news
		LEFT JOIN t_ma_news_lang lang ON news.id = lang.new_id
		AND lang.lang = #{lang}
		WHERE
			type = #{type}
		AND STATUS = 2
		ORDER BY
			news.create_time
		<if test="limit != null and limit!=''">
		LIMIT #{limit}
		</if>
  	</select>
  	
  	<select id="findByPageAndType" resultType="News">
  		SELECT
			*
		FROM
			t_ma_news
		WHERE
			1 = 1
		<if test="type != null and type!=''">
			AND type = #{type}
		</if>
		AND STATUS != 3
		LIMIT #{start},#{pageSize}
  	</select>
  	
  	<select id="findByLang" resultType="NewsViewCommand">
  		SELECT
			n.id,
			n.create_time,
			n.status,
			n.type,
			nl.author,
			nl.content,
			nl.title
		FROM
			t_ma_news n
		LEFT JOIN t_ma_news_lang nl ON n.id = nl.new_id
		WHERE
			lang = #{lang}
		AND
			status != 4
		ORDER BY
			n.create_time
		DESC
  	</select>
</mapper>